{% extends "blog/base.html" %}

{% block title %}{{ post.title }}{% endblock %}

{% block content %}
   <div class="container-fluid">
            <div class="row">

                <!--Post column-->
                <div class="col-md-8">

                    <!--Section: Post-->
                    <section class="section section-blog-fw">

                        <!--First row-->
                        <div class="row">

                            <div class="col-md-12 wow fadeInUp">

                                <!--Featured image-->
                                <img src="{{ post.image.url }}">

                                <!--Post data-->
                                <div class="jumbotron wow fadeInUp" data-wow-delay="0.2s">
                                    <h2>{{ post.title }}</h2>
                                    <p>Written by <a>{{ post.author }}</a>, {{ post.publish }}</p>

                                    <!--Social shares-->
                                    <div class="social-counters ">

                                        <!--Facebook-->
                                        <a class="btn btn-fb ">
                                            <i class="fa fa-facebook left "></i>
                                            <span class="hidden-md-down ">Facebook</span>
                                        </a>
                                        <span class="counter ">35</span>

                                        <!--Twitter-->
                                        <a class="btn btn-tw ">
                                            <i class="fa fa-twitter left "></i>
                                            <span class="hidden-md-down ">Twitter</span>
                                        </a>
                                        <span class="counter ">23</span>

                                        <!--Google+-->
                                        <a class="btn btn-gplus ">
                                            <i class="fa fa-google-plus left "></i>
                                            <span class="hidden-md-down ">Google+</span>
                                        </a>
                                        <span class="counter ">27</span>

                                        <!--Comments-->
                                        <a class="btn btn-default ">
                                            <i class="fa fa-comments-o left "></i>
                                            <span class="hidden-md-down ">Comments</span>
                                        </a>
                                        <span class="counter ">2</span>

                                    </div>
                                    <!--/.Social shares-->

                                </div>
                                <!--/Post data-->

                                <!--Post text-->
                                <div class="post-text">
                                    <p>
                                         {{ post.body|linebreaks }}
                                        {% with comments.count as total_comments %}
  <h2>
    {{ total_comments }} comment{{ total_comments|pluralize }}
  </h2>
{% endwith %}
                                {% for comment in comments %}
  <div class="comment">
    <p class="info">
      Comment {{ forloop.counter }} by {{ comment.name }}
      {{ comment.created }}
    </p>
    {{ comment.body|linebreaks }}
  </div>
{% empty %}
  <p>There are no comments yet.</p>
{% endfor %}
                                {% if new_comment %}
  <h2>Your comment has been added.</h2>
{% else %}
  <h2>Add a new comment</h2>
  <form action="." method="post">
    {{ comment_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Add comment"></p>
  </form>
{% endif %}
                                    </p>

                                    <p><a href="{% url "blog:post_share" post.id %}">
    Share this post
  </a></p>
                                </div>
                                <!--/Post text-->

                                <hr>

                                <div class="text-xs-center">
                                    <h3 class="h3-responsive">Do you want to share?</h3>
                                    <!--Facebook-->
                                    <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
                                    <!--Twitter-->
                                    <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
                                    <!--Google +-->
                                    <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>
                                </div>

                            </div>

                        </div>
                        <!--/First row-->

                    </section>
                    <!--/Section: Post-->

                    <!--Section: About author-->
                    <section class="m-b-4">
                        <!--Author box-->
                        <div class="author-box wow fadeInUp" data-wow-delay="0.3s">

                            <div class="row">
                                <!--Name-->
                                <h3 class="h3-responsive text-xs-center">About author</h3>
                                <hr>

                                <!--Avatar-->
                                <div class="col-sm-2 col-xs-12">
                                    <img src="http://mdbootstrap.com/images/avatars/img%20(8).jpg" class="img-fluid img-circle z-depth-2">
                                </div>

                                <!--Author Data-->
                                <div class=" col-xs-12 col-sm-10">

                                    <p><strong>John Doe</strong></p>

                                    <div class="personal-sm">
                                        <a class="email-ic"><i class="fa fa-home"> </i></a>
                                        <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="fb-ic"><i class="fa fa-facebook"> </i></a>
                                        <a href="https://twitter.com/MDBootstrap" target="_blank" class="tw-ic"><i class="fa fa-twitter"> </i></a>
                                        <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="gplus-ic"><i class="fa fa-google-plus"> </i></a>
                                        <a href="https://www.linkedin.com/in/michal-szymanski-9228918a" target="_blank" class="li-ic"><i class="fa fa-linkedin"> </i></a>
                                        <a class="email-ic"><i class="fa fa-envelope-o"> </i></a>
                                    </div>

                                    <p>Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus.</p>
                                </div>

                            </div>
                        </div>
                        <!--/.Author box-->
                    </section>
                    <!--/Section: About author-->

                    <!--Section: Comments list-->
                    <section>
                        <div class="comments-list">
                            <div class="section-heading">
                                <h1>Comments <span class="label blue">3</span></h1>
                            </div>
                            <!--First row-->
                            <div class="row">
                                <!--Image column-->
                                <div class="col-sm-2 col-xs-12">
                                    <img src="http://mdbootstrap.com/images/avatars/avatar-1.jpg">
                                </div>
                                <!--/.Image column-->

                                <!--Content column-->
                                <div class="col-sm-10 col-xs-12">
                                    <a><h3 class="user-name">Danny Johnson</h3></a>

                                    <div class="card-data">
                                        <ul>
                                            <li class="comment-date"><i class="fa fa-clock-o"></i> 05/10/2015</li>
                                        </ul>
                                    </div>

                                    <p class="comment-text">Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                        sint occaecat cupidatat non proident.</p>
                                </div>
                                <!--/.Content column-->

                            </div>
                            <!--/.First row-->

                            <!--Second row-->
                            <div class="row">
                                <!--Image column-->
                                <div class="col-sm-2 col-xs-12">
                                    <img src="http://mdbootstrap.com/images/avatars/avatar-2.jpg">
                                </div>
                                <!--/.Image column-->

                                <!--Content column-->
                                <div class="col-sm-10 col-xs-12">
                                    <a><h3 class="user-name">Marta Tev</h3></a>

                                    <div class="card-data">
                                        <ul>
                                            <li class="comment-date"><i class="fa fa-clock-o"></i> 08/10/2015</li>
                                        </ul>
                                    </div>

                                    <p class="comment-text">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.
                                        Nemo enim ipsam voluptatem quia voluptas sit aspernatur.</p>
                                </div>
                                <!--/.Content column-->

                            </div>
                            <!--/.Second row-->

                            <!--Third row-->
                            <div class="row">
                                <!--Image column-->
                                <div class="col-sm-2 col-xs-12">
                                    <img src="http://mdbootstrap.com/images/avatars/img%20(1).jpg">
                                </div>
                                <!--/.Image column-->

                                <!--Content column-->
                                <div class="col-sm-10 col-xs-12">
                                    <a><h3 class="user-name">Anna Maria</h3></a>

                                    <div class="card-data">
                                        <ul>
                                            <li class="comment-date"><i class="fa fa-clock-o"></i> 17/10/2015</li>
                                        </ul>
                                    </div>

                                    <p class="comment-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt
                                        in culpa qui officia.
                                    </p>
                                </div>
                                <!--/.Content column-->

                            </div>
                            <!--/.Third row-->

                        </div>
                    </section>
                    <!--/Section: Comments list-->

                    <hr class="between-sections">

                    <!--Section: Leave a reply (Logged In User) -->
                    <section>
                        <div class="reply-form">
                            <h1 class="section-heading">Leave a reply </h1>
                            <p class="text-xs-center">(Logged In User)</p>

                            <!--Third row-->
                            <div class="row">
                                <!--Image column-->
                                <div class="col-sm-2 col-xs-12">
                                    <img src="http://mdbootstrap.com/images/avatars/img%20(3).jpg">
                                </div>
                                <!--/.Image column-->

                                <!--Content column-->
                                <div class="col-sm-10 col-xs-12">
                                    <div class="md-form">
                                        <textarea type="text" id="form8" class="md-textarea"></textarea>
                                        <label for="form8">Your message</label>
                                    </div>

                                    <div class="text-xs-center">
                                        <button class="btn btn-primary">Submit</button>
                                    </div>
                                </div>
                                <!--/.Content column-->

                            </div>
                            <!--/.Third row-->
                        </div>
                    </section>
                    <!--/.Section: Leave a reply (Logged In User)-->

                    <hr class="between-sections">

                    <!--Section: Leave a reply (Not Logged In User)-->
                    <section>
                        <div class="reply-form">
                            <h1 class="section-heading">Leave a reply </h1>
                            <p class="text-xs-center">(Not Logged In User)</p>

                            <h4>Sign up with: <span>
                                <!--Facebook-->
                                <a href="https://www.facebook.com/mdbootstrap" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>
                                <!--Twitter-->
                                <a href="https://twitter.com/MDBootstrap" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>
                                <!--Google +-->
                                <a href="https://plus.google.com/u/0/+Mdbootstrap" target="_blank" class="btn-floating btn-small btn-gplus"><i class="fa fa-google-plus"> </i></a>

                            </span> <br><br>or:</h4>

                            <div class="md-form">
                                <i class="fa fa-user prefix"></i>
                                <input type="text" id="form22" class="form-control">
                                <label for="form42">Your name</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-envelope prefix"></i>
                                <input type="text" id="form32" class="form-control">
                                <label for="form34">Your email</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-home prefix"></i>
                                <input type="text" id="form32" class="form-control">
                                <label for="form34">Your website</label>
                            </div>

                            <div class="md-form">
                                <i class="fa fa-pencil prefix"></i>
                                <textarea type="text" id="form8" class="md-textarea"></textarea>
                                <label for="form8">Your message</label>
                            </div>

                            <div class="text-xs-center">
                                <button class="btn btn-primary">Submit</button>
                            </div>
                        </div>
                    </section>
                    <!--/Section: Leave a reply (Not Logged In User)-->

                </div>
                <!--/Post column-->

                <!--Right sidebar-->
                <div class="col-md-4">

                        <!--Section: Sidebar widget-->
                        <section>

                            <!--Card-->
                            <div class="card card-cascade wider">

                                <!--Card image-->
                                <div class="view overlay hm-white-slight wow fadeInDown" data-wow-delay="0.2s">
                                    <img src="http://mdbootstrap.com/images/regular/people/img%20(33).jpg" class="img-fluid" alt="">
                                    <a>
                                        <div class="mask"></div>
                                    </a>
                                </div>
                                <!--/.Card image-->

                                <!--Card content-->
                                <div class="card-block text-xs-center wow fadeInDown">
                                    <!--Title-->
                                    <h4 class="card-title">How to travel cheaply?</h4>
                                    <!--Text-->
                                    <p class="card-text">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat sunt in culpa nulla pariatur.</p>
                                    <a class="btn btn-primary">Read more</a>
                                </div>
                                <!--/.Card content-->

                            </div>
                            <!--/.Card-->

                        </section>
                        <!--/Section: Sidebar widget-->

                    </div>
                <!--/Right sidebar-->
            </div>
        </div>
{% endblock %}